body{
	padding: 0;
	margin: 0;
}
#loading{
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-color: #333;
	opacity: 0.7;
	z-index: 31;/*arcgis工具条的index为30*/
}
#loading>img{
	opacity: 1;
	position: absolute;
	left: 50%;
	top: 50%;
}
/*修改bootstrap样式*/
.tab-content{
	padding:5px 5px;
}
.nav>li>a{
	padding:3px 15px;
}
.fixed-table-container tbody .selected td{
	background-color: #428bca;
}
/******end********/
#body{
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}
#header{
	width: 100%;
	height: 120px;
}
#content{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-grow: 3;
}
#left{
	width: 200px;
	display: flex;
	flex-direction: column;
}
#areaTree{
	height: 300px;
	overflow: auto;
	border-bottom: 3px solid blue;
}
#riverList{
	overflow: auto;
	flex-grow: 1;
	max-height: 300px;
}
#riverList>table{
	text-align: center;
}
#center{
	flex-grow: 5;
	background-color: aqua;
}
#map{
	width: 100%;
	height: 100%;
	background-color: black;
}
#map>#map_root{
	width:100% !important;
	height: 100% !important;
}
#right{
	flex-grow:2;
	background-color: linen;
	display: none;
}
#footer{
	width: 100%;
	flex-grow:2;
	background-color: lightblue;
	display: none;
}
.headerBtn{
	height: 80px;
	width:70px;
	margin:0px 5px;
	background-size: 60px 60px;
	background-position: 2px 0px;
	background-repeat: no-repeat;
}
.headerBtn>span{
	display: inline-block;
	position: relative;
	top: 30px;
	left: -8px;
	text-align: center;
}
#jiBen_qk{
	background-image: url('../img/jiBen_qk.png');
}
#diaoCha_jl{
	background-image: url('../img/diaoCha_jl.png');
}
#zhengqu_hz{
	background-image: url('../img/zhengqu_hz.png');
}
#heLiu_hz{
	background-image: url('../img/zhengqu_hz.png');
}
#shp_dc{
	background-image: url('../img/shp_dc.png');
}
#zhengTiao_hl{
	background-image: url('../img/zhengTiao_hl.jpg');
}
#quHua_gl{
	background-image: url('../img/quHua_gl.png');
}
#heLiu_gl{
	background-image: url('../img/heLiu_gl.png');
}
#xinXi_xg{
	background-image: url('../img/xinXi_xg.png');
}
#yongHu_gl{
	background-image: url('../img/yongHu_gl.png');
}
#xiTong_sz{
	background-image: url('../img/xiTong_sz.png');
}